@import "progressBar";
// footer image
footer{
    background-color: cornsilk; 
    padding: 10px; 
    border: 1px solid rgb(231, 216, 216);
    .footContent{
        max-width: 1200px; 
        margin: auto;
        .contentA{
            display: grid;
            margin: auto;
            padding: 0%;
        }
        h3{
            text-align: center;
            width: 2.8in;
            text-shadow: 2px 2px 2px white;
            padding: 5px;
            border-radius: 5px;
            }
        .quickLink{
            margin: auto;
            grid-column: 1;
            grid-row: 1;
            li{
                background-color: blanchedalmond;
                margin: 5px; 
                padding: 5px; 
                width: 3in;
                list-style: none;
                a{ 
                    text-decoration: none; 
                    color: chocolate; 
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            li:hover a{ 
                text-decoration: underline;
                 color: rgb(255, 106, 0);
                }  
        }

        .progress-bar{
            margin: auto;
            grid-row: 1;
            grid-column: 2;
        }
        form{
            grid-row: 1;
            grid-column: 3;
            margin: auto;
            input, textarea{
                margin: 2px auto; 
                padding-left: 10px;
                width: 3in; height: 30px; 
                background-color: bisque; 
                border: 1px solid tomato; 
                border-radius: 5px;
            }
            textarea{
                height: 80px;
            }
            .btn{
                background-color: rgb(250, 141, 40); 
                color: wheat; 
                font-weight: bold;
            }
        }
    }
    .footNote{
        p{
        color: tomato;
        margin: 10px auto 12px 10%;
        display: inline-block;
        }
        div{
            display: inline-block;
            margin: auto 10% auto 30%;
            a{
               height: 30px;
               width: 30px;
               background-color: white;
               display: inline-block;
               text-align: center;
               font-weight: bold;
               font-size: 20px;
               text-decoration: none;
               padding: 3px;
               margin: 5px 10px;
               border: 1px solid wheat;
               box-shadow: 2px 2px 3px grey;
               border-radius: 5px;
               color: gray;
            }
            .fb:hover{color: rgb(6, 38, 219);}
            .tw:hover{color: rgb(6, 169, 219);}
            .in:hover{color: rgb(98, 122, 255);}
        }
    }
}
