* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: cornsilk;
  border: 1px solid #e7d8d8;
}

header nav {
  max-width: 1200px;
  margin: auto;
}

header nav .logo {
  text-decoration: none;
  margin-left: 10px;
  background-color: #b18282;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

header nav .logo span {
  color: #ffae00;
}

header nav ul {
  clear: both;
  display: inline-block;
  margin-left: 20%;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 2px;
  padding: 10px 15px;
  position: relative;
  z-index: 0;
}

header nav ul li a {
  text-decoration: none;
  color: #ffac13;
  font-size: 16px;
  font-weight: bold;
}

header nav ul li div {
  display: none;
  clear: both;
  background-color: white;
  border: 1px solid bisque;
  -webkit-box-shadow: 2px 3px 3px bisque;
          box-shadow: 2px 3px 3px bisque;
  height: auto;
  width: 2.5in;
  margin: 10px auto auto -50px;
  position: absolute;
  z-index: 1;
}

header nav ul li div li {
  list-style: initial;
  margin: 0px 20px 3px -30px;
  padding: 5px 10px;
}

header nav ul li:hover {
  cursor: pointer;
}

header nav ul li:hover a {
  color: tomato;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav ul li:hover div {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav ul li:hover div a {
  color: #ffae00;
  font-weight: normal;
  font-size: 15px;
}

header nav ul li:hover div a:hover {
  color: tomato;
  font-weight: bold;
}

header .search-box {
  background-color: #fff2cd;
  border: 1px solid gold;
  border-radius: 5px;
  padding: 2px 10px;
  width: 1.5in;
  height: 0.5cm;
  margin-left: 12%;
}

header .menu {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: x-large;
  margin: auto;
  margin-right: 50%;
  display: inline-block;
  display: none;
}

@media screen and (max-width: 650px) {
  header nav {
    width: 100%;
  }
  header nav .logo {
    margin-left: 5%;
  }
  header nav .parent-nav {
    display: none;
  }
  header nav .search-box {
    margin: auto auto auto 25%;
  }
  header nav .menu {
    display: inline-block;
    margin: auto auto auto 20%;
    text-align: right;
  }
}

aside {
  position: relative;
  width: 100%;
  height: 500px;
  z-index: -1;
}

#slideshow > div {
  position: absolute;
  z-index: 0;
}

#slideshow .item {
  height: 500px;
  width: 100%;
}

#slideshow > div > div {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 20px;
  top: 100px;
  left: 150px;
}

#slideshow > div > div h1 {
  color: tomato;
  font-size: 3.5em;
  text-shadow: 3px 4px 5px white;
}

#slideshow > div > div h2 {
  color: black;
  text-shadow: 2px 2px 3px white;
}

@media screen and (max-width: 650px) {
  aside {
    height: 300px;
  }
  #slideshow .item {
    height: 300px;
  }
  #slideshow > div > div {
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 20%;
    left: 8%;
  }
  #slideshow > div > div h1 {
    color: tomato;
    font-size: 2.0em;
    text-shadow: 3px 4px 5px white;
  }
  #slideshow > div > div h2 {
    color: black;
    text-shadow: 2px 2px 3px white;
  }
}

@media screen and (max-width: 800px) {
  aside {
    height: 400px;
  }
  #slideshow .item {
    height: 400px;
  }
  #slideshow > div > div {
    position: absolute;
    text-align: center;
    padding: 20px;
    top: 20%;
    left: 8%;
  }
  #slideshow > div > div h1 {
    color: tomato;
    font-size: 3.0em;
    text-shadow: 3px 4px 5px white;
  }
  #slideshow > div > div h2 {
    color: black;
    text-shadow: 2px 2px 3px white;
  }
}

.progress-bar li {
  list-style: none;
  color: black;
  font-weight: bolder;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.progress-bar li:nth-child(odd) {
  margin-left: 20px;
  margin-top: 10px;
}

.progress-bar li:nth-child(even) {
  background-color: #f1ef45;
  height: 20px;
  width: 3.5in;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress-bar li div {
  background-color: #f79606;
  margin: 0;
  border-radius: 10px;
  margin-left: 0%;
  height: 100%;
}

.progress-bar li div p {
  border-radius: 10px;
  height: 100%;
  width: 5%;
  float: left;
  color: white;
  font: 0.5em sans-serif;
  margin: auto;
  padding: 0;
  text-align: center;
}

.progress-bar li span {
  color: greenyellow;
}

.progress-bar:hover li div {
  background-color: transparent;
}

.progress-bar:hover li div p {
  background-color: #f79606;
  color: #f79606;
  width: 100%;
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.progress-bar:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.progress-bar .skl-lvl-5 {
  width: 5%;
}

.progress-bar .skl-lvl-10 {
  width: 10%;
}

.progress-bar .skl-lvl-15 {
  width: 15%;
}

.progress-bar .skl-lvl-20 {
  width: 20%;
}

.progress-bar .skl-lvl-25 {
  width: 25%;
}

.progress-bar .skl-lvl-30 {
  width: 30%;
}

.progress-bar .skl-lvl-35 {
  width: 35%;
}

.progress-bar .skl-lvl-40 {
  width: 40%;
}

.progress-bar .skl-lvl-45 {
  width: 45%;
}

.progress-bar .skl-lvl-50 {
  width: 50%;
}

.progress-bar .skl-lvl-55 {
  width: 55%;
}

.progress-bar .skl-lvl-60 {
  width: 60%;
}

.progress-bar .skl-lvl-65 {
  width: 65%;
}

.progress-bar .skl-lvl-70 {
  width: 70%;
}

.progress-bar .skl-lvl-75 {
  width: 75%;
}

.progress-bar .skl-lvl-80 {
  width: 80%;
}

.progress-bar .skl-lvl-85 {
  width: 85%;
}

.progress-bar .skl-lvl-90 {
  width: 90%;
}

.progress-bar .skl-lvl-95 {
  width: 95%;
}

.progress-bar .skl-lvl-100 {
  width: 100%;
}

.progress-bar .skl-lvl-0 {
  width: 0%;
}

footer {
  background-color: cornsilk;
  padding: 10px;
  border: 1px solid #e7d8d8;
}

footer .footContent {
  max-width: 1200px;
  margin: auto;
}

footer .footContent .contentA {
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding: 0%;
}

footer .footContent h3 {
  text-align: center;
  width: 2.8in;
  text-shadow: 2px 2px 2px white;
  padding: 5px;
  border-radius: 5px;
}

footer .footContent .quickLink {
  margin: auto;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

footer .footContent .quickLink li {
  background-color: blanchedalmond;
  margin: 5px;
  padding: 5px;
  width: 3in;
  list-style: none;
}

footer .footContent .quickLink li a {
  text-decoration: none;
  color: chocolate;
  font-family: Arial, Helvetica, sans-serif;
}

footer .footContent .quickLink li:hover a {
  text-decoration: underline;
  color: #ff6a00;
}

footer .footContent .progress-bar {
  margin: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

footer .footContent form {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  margin: auto;
}

footer .footContent form input, footer .footContent form textarea {
  margin: 2px auto;
  padding-left: 10px;
  width: 3in;
  height: 30px;
  background-color: bisque;
  border: 1px solid tomato;
  border-radius: 5px;
}

footer .footContent form textarea {
  height: 80px;
}

footer .footContent form .btn {
  background-color: #fa8d28;
  color: wheat;
  font-weight: bold;
}

footer .footNote p {
  color: tomato;
  margin: 10px auto 12px 10%;
  display: inline-block;
}

footer .footNote div {
  display: inline-block;
  margin: auto 10% auto 30%;
}

footer .footNote div a {
  height: 30px;
  width: 30px;
  background-color: white;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 3px;
  margin: 5px 10px;
  border: 1px solid wheat;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  border-radius: 5px;
  color: gray;
}

footer .footNote div .fb:hover {
  color: #0626db;
}

footer .footNote div .tw:hover {
  color: #06a9db;
}

footer .footNote div .in:hover {
  color: #627aff;
}

body {
  margin: 3px;
  padding: 0;
}

main {
  max-width: 1200px;
  margin: auto;
}

main .quickCard {
  margin: auto;
  padding: 0px 10%;
}

main .quickCard .card {
  margin: 100px auto;
  width: 250px;
  height: 360px;
  display: block;
  border: 1px solid #f5a237;
  -webkit-box-shadow: 0px 10px 10px 10px rgba(255, 196, 0, 0.295);
          box-shadow: 0px 10px 10px 10px rgba(255, 196, 0, 0.295);
}

main .quickCard .card div {
  margin: 2px;
  border: 1px solid;
  height: 280px;
}

main .quickCard .card div h3, main .quickCard .card div h4 {
  text-align: center;
}

main .quickCard .card div input {
  background-color: #f8cc07;
  margin: auto 75px;
  padding: 0%;
  width: 100px;
  height: 30px;
  border: 1px solid burlywood;
  font-weight: bold;
  color: black;
  margin-top: 80px;
}

main .quickCard .card div input:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
  border: tomato;
}

main .quickCard .card div h3 {
  margin-top: 60px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: 1.5em;
}

main .quickCard .card div h4 {
  color: #797979;
  text-shadow: 2px 2px 2px white;
  margin-top: 10px;
}

main .quickCard .card p {
  color: goldenrod;
  text-align: center;
  padding: 15px;
}

main .quickCard .card .card-1 div {
  background-image: url();
}

main .quickCard .card .card-2 div {
  background-image: url();
  height: 260px;
}

main .quickCard .card .card-3 div {
  background-image: url();
}

main .quickCard .card:hover {
  border: 1px solid #eb9a32;
  -webkit-box-shadow: 1px 10px 10px 12px rgba(255, 196, 0, 0.5);
          box-shadow: 1px 10px 10px 12px rgba(255, 196, 0, 0.5);
  cursor: pointer;
}

main .quickCard .middle {
  margin-top: 40px;
}

main .contentBlog {
  margin: 10px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .contentBlog .slide-left {
  width: 150px;
  height: 5in;
  background-color: rgba(255, 166, 0, 0.63);
  border-radius: 5px;
}

main .contentBlog .photoPort {
  margin: 20px;
  padding: 0%;
  height: 110px;
  width: 100px;
  border: 5px solid orange;
  border-radius: 50%;
}

main .contentBlog .slide-content {
  background-color: rgba(255, 166, 0, 0.404);
  width: 100%;
  height: 5in;
}

main .contentBlog .slide-content .block {
  background-color: coral;
  margin: 5px;
  padding: auto;
  border-radius: 40%;
}

main .contentBlog .slide-content .block h2, main .contentBlog .slide-content .block p {
  text-align: center;
  margin: 20px;
  color: cornsilk;
}

main .contentBlog .slide-content .block1 {
  background-color: cornsilk;
  padding: 20px;
  border-radius: 40%;
  height: 80px;
  width: 150px;
  margin: 30px auto;
  border: 2px solid tan;
}

main .contentBlog .slide-content .block1 h2 {
  color: darkgoldenrod;
  margin: auto;
  text-align: center;
  padding: auto;
  margin-top: 5px;
}

main .contentBlog .slide-content .ele-a1 {
  margin: 80px auto -40px auto;
}

main .contentBlog .slide-content .ele-a2 {
  margin: 20px auto auto 0px;
}

main .contentBlog .slide-content .ele-a3 {
  margin: 80px auto -40px 0px;
}

main .contentBlog .slide-content .ele-c1 {
  margin: -40px auto auto auto;
}

main .contentBlog .slide-content .ele-c2 {
  margin: 20px auto auto 0px;
}

main .contentBlog .slide-content .ele-c3 {
  margin: -40px auto auto 0px;
}

main .headline {
  background-color: wheat;
  padding: 10px 5%;
  border: 1px solid beige;
  border-radius: 5px;
}

main .tuit {
  margin-bottom: -30px;
  margin-top: 50px;
}

main #tuit-blog {
  display: -ms-grid;
  display: grid;
  margin: auto;
  max-width: 1200px;
}

main #tuit-blog .card {
  margin: 50px auto;
  width: 260px;
  height: 360px;
  display: block;
  border: 1px solid #f5a237;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(255, 196, 0, 0.295);
          box-shadow: 0px 2px 2px 2px rgba(255, 196, 0, 0.295);
}

main #tuit-blog .item1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

main #tuit-blog .item2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

main #tuit-blog .item3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

main #tuit-blog .item4 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
}

main #tuit-blog .item5 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

main #tuit-blog .item6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

main #tuit-blog .item7 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

main #tuit-blog .item8 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

main #tuit-blog .card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(bisque), to(white));
  background-image: linear-gradient(bisque, white);
}

main #tuit-blog .card div {
  margin: 2px;
  border: 1px solid;
  height: 250px;
}

main #tuit-blog .card div h3, main #tuit-blog .card div h4 {
  text-align: center;
}

main #tuit-blog .card div input {
  background-color: #f8cc07;
  margin: auto 75px;
  padding: 0%;
  width: 100px;
  height: 30px;
  border: 1px solid burlywood;
  font-weight: bold;
  color: black;
  margin-top: 40px;
}

main #tuit-blog .card div input:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
  border: tomato;
}

main #tuit-blog .card div h3 {
  margin-top: 60px;
  color: white;
  text-shadow: 2px 2px 2px grey;
  font-size: 1.5em;
}

main #tuit-blog .card div h4 {
  color: #797979;
  text-shadow: 2px 2px 2px white;
}

main #tuit-blog .card div p {
  color: goldenrod;
}

main #tuit-blog .card-1 div {
  background-image: url();
}

main #tuit-blog .card-2 div {
  background-image: url();
  height: 260px;
}

main #tuit-blog .card-3 div {
  background-image: url();
}
/*# sourceMappingURL=main.css.map */