@import "resetNfont";
@import "header";
@import "slider";

@import "footer";

body{
    margin: 3px;
    padding: 0;
}


// main area
main{
    max-width: 1200px;
    margin: auto;
    .quickCard{
        margin: auto;
        padding: 0px 10%;
        .card{
            margin: 100px auto;
            width: 250px;
            height: 360px;
            display: block;
            border: 1px solid rgb(245, 162, 55);
            box-shadow: 0px 10px 10px 10px rgba(255, 196, 0, 0.295);
            div{
                margin: 2px;
                border: 1px solid;
                height: 280px;
                h3,h4{text-align: center;}
                input{
                    background-color: rgb(248, 204, 7);
                    margin: auto 75px;
                    padding: 0%;
                    width: 100px;
                    height: 30px;
                    border: 1px solid burlywood;
                    font-weight: bold;
                    color: black;
                    margin-top: 80px;
                }
                input:hover{
                    background-color: goldenrod;
                    color: white;
                    cursor: pointer;
                    border: tomato;
                }
                h3{
                    margin-top: 60px;
                    color: white;
                    text-shadow: 2px 2px 2px grey;
                    font-size: 1.5em
                }
                h4{
                    color:rgb(121, 121, 121);
                    text-shadow: 2px 2px 2px white;
                    margin-top: 10px;
                }
            }
            p{
            color:goldenrod;
            text-align: center;
            padding: 15px;
            }

            .card-1 div{background-image: url();}
            .card-2 div{background-image: url(); height: 260px;}
            .card-3 div{background-image: url();}

        }
        .card:hover{
            border: 1px solid rgb(235, 154, 50);
            box-shadow: 1px 10px 10px 12px rgba(255, 196, 0, 0.5);
            cursor: pointer;
        }
        .middle{margin-top: 40px;}
    }

    //for mobile responsive
@media screen and(max-width:650px) {
    
}

   //for tablet responsive
   @media screen and(max-width:650px) {
    
}


    // content blog

.contentBlog{
    margin: 10px 5%; display: flex;
    .slide-left{ 
        width: 150px; 
        height: 5in; 
        background-color: rgba(255, 166, 0, 0.63); 
        border-radius: 5px;
    }
    .photoPort{
        margin: 20px  ;
        padding: 0%; 
        height: 110px; 
        width: 100px; 
        border: 5px solid orange; 
        border-radius: 50%;
    }
    .slide-content{
        background-color: rgba(255, 166, 0, 0.404); 
        width: 100%; 
        height: 5in;
        .block{
            background-color: coral;
            margin: 5px; 
            padding: auto; 
            border-radius: 40%;
            h2,p{text-align: center; 
                margin: 20px; 
                color: cornsilk;
            }
        }
        .block1{
            background-color: cornsilk; 
            padding: 20px; 
            border-radius: 40%; 
            height: 80px; 
            width: 150px; 
            margin: 30px auto; 
            border: 2px solid tan;
            h2{
                color: darkgoldenrod; 
                margin: auto; 
                text-align: center; 
                padding: auto; 
                margin-top: 5px;
            }
        }
        .ele-a1{margin: 80px auto -40px auto;}
        .ele-a2{margin: 20px auto auto 0px;}
        .ele-a3{margin: 80px auto -40px 0px;}
        .ele-c1{margin: -40px auto auto auto;}
        .ele-c2{margin: 20px auto auto 0px;}
        .ele-c3{margin: -40px auto auto 0px;}

    }

}
.headline{
    background-color: wheat; 
    padding: 10px 5%; 
    border: 1px solid beige; 
    border-radius: 5px;
}
.tuit{
    margin-bottom: -30px; 
    margin-top: 50px;
}

//tuit area
    #tuit-blog{
        display: grid; 
        margin: auto;
        max-width: 1200px;
        .card{
            margin: 50px auto; 
            width: 260px; 
            height: 360px; 
            display: block; 
            border: 1px solid rgb(245, 162, 55); 
            box-shadow: 0px 2px 2px 2px rgba(255, 196, 0, 0.295);
        }
        .item1{grid-row: 1; grid-column: 1;}
        .item2{grid-row: 1; grid-column: 2;}
        .item3{grid-row: 1; grid-column: 3;}
        .item4{grid-row: 1; grid-column: 4;}
        .item5{grid-row: 2; grid-column: 1;}
        .item6{grid-row: 2; grid-column: 2;}
        .item7{grid-row: 2; grid-column: 3;}
        .item8{grid-row: 2; grid-column: 4;}
        .card{
            background-image: linear-gradient( bisque, white);
            div{
                margin: 2px; 
                border: 1px solid; 
                height: 250px;
                h3,h4{
                    text-align: center; 
                     }
                input{
                    background-color: rgb(248, 204, 7); 
                    margin: auto 75px; 
                    padding: 0%; width: 100px; 
                    height: 30px;
                     border: 1px solid burlywood; 
                     font-weight: bold; 
                     color: black; 
                     margin-top: 40px;
                    }
                input:hover{
                    background-color: goldenrod; 
                    color: white; 
                    cursor: pointer; 
                    border: tomato;
                }
                h3{
                    margin-top: 60px;
                    color: white; 
                    text-shadow: 2px 2px 2px grey; 
                    font-size: 1.5em
                }
                h4{
                    color:rgb(121, 121, 121); 
                    text-shadow: 2px 2px 2px white;
                }
                p{
                    color:goldenrod;
                }
            }

        }
        .card-1 div{background-image: url();}
        .card-2 div{background-image: url(); height: 260px;}
        .card-3 div{background-image: url();}
    }

}

